@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: #edf6fc;
  margin: 0 0 30px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  column-gap: 30px;
  overflow: hidden;
  transition: 0.3s;
  height: 0;
}
@media (min-width: 767px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.grid-card {
  max-width: 100%;
  height: 150px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 11px -9px #000000;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}
.grid-card:nth-child(1) h2 {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 767px) {
  .grid-card:nth-child(3) {
    grid-column: 3/5;
  }
}
.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.tri-title {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.labels {
  margin-top: 15px;
}
.labels p {
  width: 100px;
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.labels p:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eb4034;
  position: absolute;
  left: 0;
  top: -1px;
}
.labels p:nth-child(2)::before {
  background: #ebcd34;
}
.labels p:nth-child(3)::before {
  background: #348feb;
}
.labels p:nth-child(4)::before {
  background: #4bc0c0;
}
.chart-size {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}
.content {
  height: 100%;
  width: 100%;
  border: dashed 2px #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}
.content:hover {
  border-color: #b3b3b3;
  color: #b3b3b3;
}
.content p {
  font-size: 16px;
  color: #ccc;
  font-family: "Roboto", sans-serif;
}

.content img {
  width: 60px;
}
.negative,
.positive {
  font-size: 16px;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.negative:before,
.positive:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d93b3b;
  position: absolute;
  left: 0;
  top: -1px;
}

.positive:before {
  background: #539dcf;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}
.card {
  height: 470px;
  min-width: 650px;
  background: #fff;
  box-shadow: 0px 0px 11px -9px #000000;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}
@media (min-width: 767px) {
  .card {
    padding: 15px 45px;
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: fixed;
  width: 86%;
  z-index: 1;
}
@media (min-width: 767px) {
  .card-header {
    position: inherit;
    width: 100%;
  }
}
.card-header h1 {
  font-size: 24px;
}
.select {
  padding: 0;
  position: relative;
  border-radius: 0;
  font-size: 14px;
  width: 26%;
  font-weight: bold;
  z-index: 1;
}
@media (min-width: 767px) {
  .select {
    width: 30%;
  }
}
.select select {
  appearance: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  font-size: 14px;
  outline: none;
}
.select::before,
.select::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  border: 1px solid transparent;
  width: 0;
  height: 0;
  right: 16px;
}
.select::before {
  bottom: 55%;
  border-width: 0 5.5px 7px 5.5px;
  border-bottom-color: #000;
}
.select::after {
  border-width: 7px 5.5px 0 5.5px;
  border-top-color: #000;
  top: 55%;
}
.select:hover select {
  box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
}
.select select {
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: 400;
  color: inherit;
  padding: 8px 15px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
  cursor: pointer;
}
.chart {
  width: 100%;
  height: 86%;
  margin-top: 62px;
}
@media (min-width: 767px) {
  .chart {
    margin-top: 0;
  }
}
.msg,
.selecione {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.selecione {
  display: flex;
}
